.card-container{
    height: 310px;
    width: 210px;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    border-radius: 15px;
    padding: 1rem;
    gap: .5rem;
}
.card-container:hover{
    /* scale: 1.1; */
    transform: translateY(-10px);
    transition: all 200ms;
}

.card-product-img {
    height: 50%;
    width: 100%;
    border-radius: 7px 7px 0 0;
    object-fit: cover;
}
.card-product-info{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.product-card-title{
    font-size: 1.1rem;
}

.product-card-description{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-product-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-product-price{
    font-size: 1.2rem;
}

.stock-info{
    margin-top: .3rem;
    font-size: .7rem;
    text-align: center;
}

.product-card-button{
    all:unset;
    display: flex;
    gap: .2rem;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: solid 2px #252525;
    padding: .3rem .6rem;
    border-radius: .3rem;
    background-color: #252525;
    color: white;
}