body{
  background-color: #faf8f8;
}

.cards-wrapper{
  background-color: #faf8f8;
  min-height: 390px;
  width: 80%;
  margin: 25px auto;
  padding: 2rem;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}