.nav{
    height: 70px;
    background-color: white;
    border-bottom: solid 3px black;
    color: #282c34;
    display: flex;
    justify-content: space-between;
  }
  
.nav > ul {
  width: 50%;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: flex-end;
  margin-right: 25px;
  gap: 25px;
}

.nav ul li {
  display: flex;
  align-self: center;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color:#4b4949;
}
  
.menu-h{
  display: none;
}
  
@media screen and (max-width: 720px) {
  .menu-h{
    display: block;
  }
}
  
@media screen and (max-width: 720px) {
  .nav > ul {
    display: none;
    /* opacity: 0; */
  }
}

.logo-link {
  display: flex;
  width: 220px;
  align-items: center;
  padding-left: 2.5rem;

}

.brand {
  height: 50px;
}

.toggler-btn {
  color: black;
  margin-right: 25px;
  background: none;
  border: none;
  display: none;
}

.toggler-btn:hover {
  color: #e2a694;
  cursor: pointer;
}

.toggler-btn:active{
  scale: .9;
}

  
@media screen and (max-width: 720px) {
  .toggler-btn {
    display: block;
  }
}

.bag-btn{
  all: unset;
  margin-right: 1rem;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.bag-btn:hover{
  color: #4b4949;
}
.bag-btn:active{
  scale: 0.95;
}