.nav{
    height: 70px;
    background-color: white;
    border-bottom: solid 3px black;
    color: #282c34;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  
.nav > .nav-ul {
  width: 50%;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: flex-end;
  margin-right: 25px;
  gap: 25px;
}

.nav-ul li {
  display: flex;
  align-self: center;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color:#4b4949;
}
  
.menu-h{
  display: none;
}
  
@media screen and (max-width: 720px) {
  .menu-h{
    display: block;
    position: relative;
  }
}
  
@media screen and (max-width: 720px) {
  .nav > .nav-ul {
    display: none;
    /* opacity: 0; */
  }
}

.logo-link {
  display: flex;
  width: 220px;
  align-items: center;
  padding-left: 2.5rem;

}

.brand {
  height: 50px;
}

.toggler-btn {
  color: black;
  margin-right: 25px;
  background: none;
  border: none;
  display: none;
}

.toggler-btn:hover {
  color: #e2a694;
  cursor: pointer;
}


  
@media screen and (max-width: 720px) {
  .toggler-btn {
    display: block;
  }
}

.bag-btn{
  all: unset;
  margin-right: 1rem;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.bag-btn:hover{
  color: #4b4949;
}
.bag-btn:active{
  scale: 0.95;
}

/* CATEGORIES DROPDOWN MENU */

.categories-menu{
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}
.categories-menu:hover{
  color: #4b4949;

}
.categories-dropdown{
  display: none;
  visibility: hidden;

}

.categories-menu:hover .categories-dropdown{
  display: flex;
  visibility: visible;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: 25px;
  left:0;
  background-color: #fffffff8;
  width: 100%;
  padding: .3rem;
  border-radius: 0 0 5px 5px;
}

.categories-dropdown > li {
  width: 100%;
}

.categories-dropdown__hidden{
  display: none;
}

.categories-dropdown__inactive{
  margin-top: .3rem;
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.categories-dropdown__inactive > li {
  list-style-type: none;
}

@media screen and (max-width: 720px) {
  .categories-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .categories-menu > svg {
    display: none;
  }
}

/* NAV MENU DROPDOWN */

.menu-dropdown__active{
  padding: .5rem 1rem 1rem 1rem;
  z-index: 100;
  display: block;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100vw;
  background-color: #ffffffd8;
}

@media screen and (min-width: 720px) {
  .menu-dropdown__active{
    display: none;
  }
}

.menu-dropdown__active > li {
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-dropdown__active > li > a{
  width: 100%;
  text-align: center;
}

.menu-dropdown__active > li > a > button{
  margin: 0 auto;
}
.menu-dropdown__inactive{
  display: none;
}




